body {
    background-image: linear-gradient(#24228a,#2d36bd,#4060ca,#7272b9, #d1d1d1);;
    font-size: 12px;
    font-family: 'Times New Roman', serif;
    align-content: center;
}

.fon1 {
    width: 90%;
    margin: auto;
    background-color: #7ea7e6;
    border: 2px solid #0c233d;
}

.submit {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    border-radius: 20px;
    background-color: rgb(17, 41, 68);
}

label {
    overflow-wrap: break-word;
}

.w-50 {
    width: 100% !important;
    min-height: 30px;
}
    
option {
    font-size: 20px;
}

@media (min-width: 767px) {
    body {
        font-size: 20px;
        background-color: (#577aee);
    }

    .fon1 {
        width: 70%;
    }

    .submit {
        width: 50%;
    }

    option {
        font-size: 18px;
    }

    .w-50 {
        width: 50% !important;
    }

    .form_item {
        padding-left: 30%;
    }
}